body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    align-items: center;
    position: relative;
}

.monster-container {
    text-align: center;
    margin-right: 20px;
}

.monster {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.monster:hover {
    transform: scale(1.1);
}

@keyframes monsterDeath {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes monster-death {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.5; }
    100% { transform: scale(0); opacity: 0; }
}

.monster-death {
    animation: monster-death 0.5s forwards;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px; /* Увеличиваем ширину контейнера */
}
.container2{
    position: relative;
    height: 200px; /* Задайте нужную высоту вашему div */
    border: 1px solid black;
}
#resetButtonContainer {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#resetUpgradeButton{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0c3ebb;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin: 10px 0;
}
#monsterHp{
    color: #d30404;
}
#clickerButton {
    border-radius: 5rem;
}
#score{
    color: green;
}

.upgrade-link {
    padding: 10px 20px;
    font-size: 16px;
    width: 200px;
    display: block;
    margin: 10px auto;
}

#resetButton {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
}

#damage {
    color: rgba(211, 4, 4, 0.22);
}
#damage:hover{
    color: #ce2323;
    font-size: 1rem;
}
#multiplier {
    color: #d30404;
}

#availablePoints {
    color: green;
}

button:hover {
    background-color: #932358;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

p {
    margin-top: 17px;
    font-size: 18px;
}

a {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.upgrade {
    margin-top: 20px;
}
