:root {
    --primary-color: #000b23;
    --secondary-color: #932358;
    --accent-color: #ce2323;
    --text-color: #333;
    --background-color: rgba(255, 255, 255, 0.9);
    --border-color: #ccc;
    --button-disabled-color: #cccccc;
    --modal-background-color: rgba(0,0,0,0.4);
    --modal-content-background-color: #fefefe;
    --modal-border-color: #888;
    --close-button-color: #aaa;
    --close-button-hover-color: black;
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid lightgray;
    border-top: 5px solid blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    margin: 20px;
    border: 1px solid var(--border-color);
}

h1 {
    color: var(--text-color);
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px 0;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

button:disabled {
    background-color: var(--button-disabled-color);
    cursor: not-allowed;
}

p {
    color: var(--text-color);
    margin-top: 17px;
    font-size: 18px;
}

a {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.upgrade {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.upgrade-button {
    transition: transform 0.3s, background-color 0.3s;
}

.upgrade-button:enabled:hover {
    transform: scale(1.1);
    background-color: #4caf50;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    background-color: var(--modal-content-background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--modal-border-color);
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-in-out;
    z-index: 9999;
}

.close-button {
    color: var(--close-button-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.close-button:hover,
.close-button:focus {
    color: var(--close-button-hover-color);
    text-decoration: none;
    cursor: pointer;
}

.modal p {
    font-size: 18px;
    color: var(--text-color);
    margin: 20px 0;
    text-align: center;
}

.modal button {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s, transform 0.2s;
}

.modal button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); }
    to { transform: translateY(0); }
}

.upgrade-cost {
    flex-shrink: 0;
    font-size: 16px;
    margin-left: 16px;
    padding: 16px 16px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
}

.upgrade-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.stats-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: transparent;
    color: var(--primary-color);
}

#damage {
    color: var(--accent-color);
    transition: font-size 0.3s, color 0.3s;
}

#damage:hover {
    color: #0047ff;
    font-size: 1.3rem;
}

#multiplier {
    color: var(--secondary-color);
}

#availablePoints {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.monster {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.monster:hover {
    transform: scale(1.1);
}

@keyframes monster-death {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.5; }
    100% { transform: scale(0); opacity: 0; }
}

.monster-death {
    animation: monster-death 0.5s forwards;
}

#resetUpgradeButton {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

#resetUpgradeButton:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.hp-bar-container {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.hp-bar {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #bb8181, darkred);
    transition: width 0.3s;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: none;
        width: calc(100% - 40px);
        margin: 10px;
    }

    .upgrade-row {
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
    }

    .upgrade-cost {
        margin: 5px 0 0;
        padding: 5px 10px;
    }

    .progress-bar {
        margin: 10px 0;
    }

    .stats-table td {
        font-size: 14px;
    }

    #damage:hover {
        font-size: 1.2rem;
    }

    #availablePoints {
        font-size: 14px;
    }

    .modal-content {
        width: 90%;
        max-width: none;
    }

    .modal p {
        font-size: 16px;
    }

    .modal button {
        font-size: 14px;
    }
}

.upgrade-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrade-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.upgrade-dropdown .dropdown-content .upgrade-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.upgrade-dropdown .dropdown-content .upgrade-cost {
    flex-shrink: 0;
    font-size: 14px;
    margin-left: 16px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}

.upgrade-dropdown .dropdown-content .upgrade-button {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.upgrade-dropdown .dropdown-content hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
}

.upgrade-dropdown .dropdown-content button {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s, transform 0.2s;
}

.upgrade-dropdown .dropdown-content button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.upgrade-dropdown .dropdown-content.show {
    display: block;
}

.menu-button {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--accent-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .container {
        width: calc(100% - 40px);
        margin: 10px;
        box-sizing: border-box;
    }

    .upgrade-row {
        flex-direction: column;
        align-items: center;
    }

    .upgrade-cost {
        margin: 10px 0 0 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .stats-table td {
        padding: 5px;
    }

    .modal-content {
        width: calc(100% - 40px);
        margin: 20px;
        box-sizing: border-box;
    }

    .menu-button {
        display: block;
    }
}
